**Import libraries that will be used.**

In [1]:
import numpy as np
import pandas as pd
import pickle

**Load the dataframe that was created in the previous section of the project.**

In [2]:
df = pd.read_pickle('Toronto Neighborhood.pkl')
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

**Load the coordinates file into a dataframe.**

In [3]:
coord_df = pd.read_csv('coordinates.csv')
coord_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Merged the two dataframes together.**

In [4]:
merged_df = df.merge(coord_df, on = 'Postal Code')
merged_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

**The output below represents the example shown in the course project.**

In [5]:
part_df1 = merged_df[merged_df['Postal Code'] == 'M5G']
part_df2 = merged_df[merged_df['Postal Code'] == 'M2H']
part_df3 = merged_df[merged_df['Postal Code'] == 'M4B']
part_df4 = merged_df[merged_df['Postal Code'] == 'M1J']
part_df5 = merged_df[merged_df['Postal Code'] == 'M4G']
part_df6 = merged_df[merged_df['Postal Code'] == 'M4M']
part_df7 = merged_df[merged_df['Postal Code'] == 'M1R']
part_df8 = merged_df[merged_df['Postal Code'] == 'M9V']
part_df9 = merged_df[merged_df['Postal Code'] == 'M9L']
part_df10 = merged_df[merged_df['Postal Code'] == 'M5V']
part_df11 = merged_df[merged_df['Postal Code'] == 'M1B']
part_df12 = merged_df[merged_df['Postal Code'] == 'M5A']

part_df = pd.concat([part_df1,
                     part_df2,
                    part_df3,
                    part_df4,
                    part_df5,
                    part_df6,
                    part_df7,
                    part_df8,
                    part_df9,
                    part_df10,
                    part_df11,
                    part_df12])

part_df.reset_index(inplace = True, drop = True)
part_df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har...",43.628947,-79.394420
10,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
11,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636

**Save the newly merged dataframe into a pickle file.**

In [6]:
merged_df.to_pickle('Toronto Neighborhood Merged Dataframe.pkl')